<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brit.swiftinstaller.library">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.samsung.android.permission.MODIFY_THEME" />

    <uses-feature android:name="com.samsung.feature.samsung_experience_mobile" android:required="true" />

    <application
        android:name="com.brit.swiftinstaller.SwiftApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.brit.swiftinstaller.ui.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brit.swiftinstaller.ui.activities.OverlaysActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brit.swiftinstaller.ui.activities.CustomizeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brit.swiftinstaller.ui.activities.InstallActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.BottomSheetDialog" />
        <activity android:name="com.brit.swiftinstaller.ui.activities.InstallSummaryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name="com.brit.swiftinstaller.ui.activities.UninstallFinishedActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.BottomSheetDialog" />
        <activity android:name="com.brit.swiftinstaller.utils.EnableOverlaysActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.brit.swiftinstaller.ui.activities.RebootActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.AlertDialog.Reboot" />

        <service android:name="com.brit.swiftinstaller.InstallerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <receiver
            android:name="com.brit.swiftinstaller.utils.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.brit.swiftinstaller.utils.InstallerUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.brit.swiftinstaller.utils.PackageListener" />

    </application>

</manifest>